* {
    font-size: 30px;
}

body {
    background: black;
    color: white;
    font-family: 'Fira Mono', monospace;
    /* font-family: 'Red Hat Display', sans-serif; */
    font-size: 30px;
    box-sizing: border-box;
    cursor: none;

    --primary: black;
    --secondary: white;
    --quick: 0.15s;
}

.content {
    display: grid;
    grid-gap: 20px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    place-content: center;
    background: hsl(0,0%,0%,0.8);
    z-index: 5;
    cursor: default;
}

.menu {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
}
.screen {
    display: none;
    width: 100vw;
    height: 100vh;
    place-content: center;
}

.screen.active {
    display: grid;
}

#startScreen {
    background-image: linear-gradient(to right, #111122, #0f1332, #0c1442, #061552, #011462, #011462, #011462, #011462, #061552, #0c1442, #0f1332, #111122);
}


h1, h2 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
    min-width: 400px;
}

a.button {
    text-decoration: none;
}

button, a > button {
    background: var(--primary);
    color: var(--secondary);

    font-family: 'Fira Mono', monospace;
    
    width: 100%;
    height: 50px;
    position: relative;
    
    padding: 5px 25px;
    display: block;
    border: none;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;

    transition: color var(--quick), background var(--quick);
}

button:hover, button:focus, button.selected {
    color: var(--primary);
    background: var(--secondary);
    cursor: pointer;
}

button .flare {
    display: block;
    position: absolute;

    background: var(--primary);

    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    transition: width var(--quick);
}

button:hover .flare, button:focus .flare, button.selected .flare {
    width: 15px;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
}

.version {
    position: fixed;
    bottom: 0;
    font-size: 0.5em;
    padding: 10px;
    background: black;
    color: var(--secondary);
    opacity: 0.7;
    z-index: 6;
    cursor: pointer;
}
.version:hover {
    background: var(--secondary);
    color: var(--primary);
    
}

#ui {
    position: fixed;
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr;
    padding: 30px;
    z-index: 1;
    display: none;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#ui.active {
    display: grid;
}

#timer {
    background: rgba(0,0,0, 0.5);
    color: var(--secondary);
    padding: 10px;
    width: 100px;
}

#timer span.mil {
    font-size: 0.7em;
}