* {
    font-size: 30px;
}

body {
    background: black;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 30px;
    box-sizing: border-box;

    --quick: 0.15s
}

.content {
    display: grid;
    grid-gap: 20px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    place-content: center;
    background: hsl(0,0%,0%,0.8);
    z-index: 5;
}

.menu {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
}
.screen {
    display: none;
}

.screen.active {
    display: grid;
}


h1, h2 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
    min-width: 400px;
}

a.button {
    text-decoration: none;
}

button, a > button {
    background: darkblue;
    
    width: 100%;
    height: 50px;
    position: relative;
    
    padding: 5px 25px;
    display: block;
    color: white;
    border: none;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold;

    transition: color var(--quick), background var(--quick);
}

button:hover, button:focus, button.selected {
    color: darkblue;
    background: white;
    cursor: pointer;
}

button .flare {
    display: block;
    position: absolute;

    background: darkblue;

    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    transition: width var(--quick);
}

button:hover .flare, button:focus .flare, button.selected .flare {
    width: 15px;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
}

.version {
    position: fixed;
    bottom: 0;
    font-size: 0.5em;
    padding: 10px;
    background: black;
    opacity: 0.7;
    z-index: 10;
    cursor: pointer;
}
.version:hover {
    background: white;
    color: black;
    
}

#ui {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 30px;
    z-index: 1;
}

#timer {
    background: rgba(0,0,0, 0.5);
    padding: 10px;
    width: 200px;
}

#timer span.mil {
    font-size: 0.7em;
}