html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;

    min-height: 100vh;
    background: black;
    color: #eff;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 1em;
    text-align: center;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0.35em;
}
h4 {
    padding-top: 0;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}

p {
    margin-top: 2.5em;
    line-height: 1.6em;
}

ol, ul {
    padding-left: 1em;
}

li {
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    list-style-type: disc;
}
a {
    color:rgb(0, 31, 109);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid grey;

    transition: border-color 0.2s, color 0.2s;
}
a:hover {
    border-color: rgb(0, 31, 109);
    color: rgb(70,120,250);
}

a.anchor {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

.content {
    min-height: 92vh;
    background-image: linear-gradient(rgb(10, 25, 94), rgb(5, 10, 32));
}

footer {
    text-align: center;
    width: 100%;
    background: rgb(5, 10, 32);
    
    padding: 1em 0;
    min-height: 8vh;
    font-size: 0.7em;
    color:rgb(83, 110, 179);
    display: grid;
    align-items: center;
}
footer p {
    margin: 0;
}

.wrapper {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.seperator {
    margin: 0.25em auto 2em;
    display: block;
    width: 60px;
    height: 2px;
    background: rgb(70,120,250);
}

h3 + .seperator {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 1em;
    width: 100%;
}
.cardHolder {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.card {
    background:rgb(185, 197, 255);
    border-radius: 10px;
    color: black;
    padding: 20px;
    box-shadow: black 0 3px 10px;
    border: 5px solid rgba(255, 255, 255, 0.5);
}




.card h3 {
    padding-top: 0;
}

.card p {
    margin-top: 1em;
    line-height: 1.2em;
}
div > p:first-of-type {
    margin-top: 0;
}



p.emphasis {
    font-weight: bold;
    color: rgb(0, 31, 109);
    line-height: 1em;
}

nav {
    background:rgb(185, 197, 255);
    text-align: center;
    font-size: 1.2em;
    box-shadow: rgb(6, 0, 42) 0 0 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}
nav a {
    background:rgb(255,255,255, 0.4);
    padding: 15px;
    display: inline-block;
    height: 100%;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
}
nav a:first-child {
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}
nav a:hover {
    background:rgb(70,120,250);
    color: white;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
}
