html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;

    min-height: 100vh;
    background: black;
    color: #eff;

    --max_blue: 230;
    --blue_vibrant: hsl(var(--max_blue), 100%, 65%);

    --blue_dark: hsl(var(--max_blue), 100%, 30%);
    --blue_darker: hsl(var(--max_blue), 100%, 20%);
    --blue_darkest: hsl(var(--max_blue), 100%, 10%);

    --blue_light: hsl(var(--max_blue), 100%, 85%);
    --blue_lighter: hsl(var(--max_blue), 100%, 90%);
    --blue_lightest: hsl(var(--max_blue), 100%, 97%);

    --blue_deep: hsl(229, 81%, 20%);
    --blue_deeper: hsl(229, 73%, 7%);

}


.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: rgba(255, 255, 255, 0.9) rgba(0, 0, 0, 0.8);
}
.styled-scrollbars::-webkit-scrollbar {
  width: 8px; /* Mostly for vertical scrollbars */
  height: 8px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb { /* Foreground */
  background: rgba(255, 255, 255, 0.9);
}
.styled-scrollbars::-webkit-scrollbar-track { /* Background */
  background: rgba(0, 0, 0, 0.8);
}




h1, h2, h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 1em;
    text-align: center;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0.35em;
}
h4 {
    padding-top: 0;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}

p {
    margin-top: 2.5em;
    line-height: 1.6em;
}

ol, ul {
    padding-left: 1em;
}

li {
    padding-bottom: 0.5em;
    margin-left: 0.5em;
    list-style-type: disc;
}
a {
    color: var(--blue_vibrant);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    transition: border-color 0.2s, color 0.2s;
}
a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgb(135, 169, 255);
}
.card a {
    color: var(--blue_dark);
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.card a:hover {
    border-bottom: 1px solid var(--blue_dark);
    color: var(--blue_vibrant);
}

a.anchor {
    display: block;
    position: relative;
    top: -95px;
    visibility: hidden;
}

select, button, input {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    background: var(--blue_light);
    border: 1px solid var(--blue_vibrant);
    box-sizing: border-box;
    height: 40px;
    outline: none;
}
option:nth-child(even) {
    background: var(--blue_lighter);
}

button, input {
    transition: background-color 0.10s, border-color 0.20s;
}
button:hover {
    background-color: rgba(255, 176, 196, 0.837);
    border-color: crimson;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 6px;
}

.content {
    min-height: 92vh;
    background-image: linear-gradient(var(--blue_deep), var(--blue_deeper));
}

footer {
    text-align: center;
    width: 100%;
    background: var(--blue_deeper);
    
    padding: 1em 0;
    min-height: 8vh;
    font-size: 0.7em;
    /* color:rgb(83, 110, 179); */
    color: var(--blue_light);
    display: grid;
    align-items: center;
}
footer p {
    margin: 0;
}

iframe {
    border-radius: 10px;
}

.wrapper {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.seperator {
    margin: 0.25em auto 2em;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--blue_vibrant);
}

h3 + .seperator {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 1em;
    width: 100%;
}
.cardHolder {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 30px;
    padding-bottom: 30px;
}

.card {
    background:var(--blue_light);
    border-radius: 10px;
    color: black;
    padding: 20px;
    box-shadow: black 0 3px 10px;
    border: 5px solid rgba(255, 255, 255, 0.5);
}




.card h3 {
    padding-top: 0;
}

.card p {
    margin-top: 1em;
    line-height: 1.2em;
}
div > p:first-of-type {
    margin-top: 0;
}



p.emphasis {
    font-weight: bold;
    color: var(--blue_dark);
    line-height: 1em;
}

nav {
    background:var(--blue_light);
    text-align: center;
    font-size: 1.2em;
    box-shadow: black 0 0 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 2px;
}
nav a {
    background:var(--blue_lighter);

    padding: 15px;
    display: grid;
    align-content: center;
    height: 100%;
    min-width: 100px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: normal;   
    border: none; 
}

nav a.here {
    color: var(--blue_vibrant);
    background: var(--blue_lightest);
}
nav a:hover {
    background: var(--blue_vibrant);
    color: white;
    border: none;
}
@media only screen and (max-width: 600px) {
    nav {
        font-size: 1em;
    }
}




/* .scrollBar {
    width: 12px;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    right: 0;
}
.scrollBar .scrollFill {
    width: 100%;
    height: 10px;
    transition: height 0.25s, border-radius 0.25s;
    background: rgba(255, 255, 255, 0.5);
    min-height: 100px;
    border-radius: 10px;
    position: relative;
}

.scrollFill.top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.scrollFill.bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
} */