.cardHolder {
    grid-template-columns: 1fr;
}
.cardHolder.wrapper {
    max-width: 1200px;
}

#tableDiv a > div, .tableHeader {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 300px 100px 100px;
}

.favourite {
    background: goldenrod;
    color: black;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 0.7em;
    margin-left: 10px;
    position: relative;
    top: -2px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.toolbar {
    display: grid;
    grid-gap: 10px;
}

.filter.include {
    background: green;
}
.filter.exclude {
    background: red;
}



@media only screen and (max-width: 950px) { 
    #tableDiv a > div {
        grid-template-columns: auto 100px 100px;
    }
    .title {
        grid-column: span 3;
        padding-bottom: 10px;
    }
}