.cardHolder {
    grid-template-columns: 1fr;
}
.cardHolder.wrapper {
    max-width: 1200px;
}

.tableHeader {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
}

#tableDiv {
    overflow-y: scroll;
    max-height: 400px;
    border-top: none;
}

#tableDiv a > div, .tableHeader {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 300px 100px 100px;
}

.favourite {
    background: goldenrod;
    color: black;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 0.7em;
    margin-left: 10px;
    position: relative;
    top: -2px;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.toolbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

#time {
    justify-self: center;
    text-align: center;
}

#randomButtons {
    justify-self: right;
}

#filterFavourites {
    min-width: 150px;
}

.inputWrapper {
    display: inline-block;
    position: relative;
}
#searchClear {
    position: absolute;
    border-radius: 20px;
    font-size: 0.6em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0;
}
#searchClear:hover {
    box-shadow: none;
}


.include {
    background: limegreen;
    border-color: lime;
}
.include:hover {
    background: rgb(122, 221, 122);
    border-color: rgb(104, 255, 104);
}
.exclude {
    background: rgb(255, 47, 47);
    border-color: crimson;
}
.exclude:hover {
    background: rgb(255, 137, 137);
    border-color: rgb(255, 82, 117);
}

span.emphasis {
    color: crimson;
    font-size: 1.2em;
    font-weight: bold;
}

.empty {
    padding: 15px 10px;
    color: #333;
    background-color: lightgrey;
    border: none;
}

.tag {
    transition: color 0.1s;
}

@media only screen and (max-width: 1100px) { 
    .toolbar {
        grid-template-columns: auto;
    }
    #filter, #randomButtons {
        justify-self: center;
    }
    #time {
        grid-column: span 1;
    }
    .tableHeader .titleHeader {
        grid-column: span 3;
        padding-bottom: 0;
        font-size: 0.9em;
    }
    #filter {
        display: grid;
        grid-gap: 10px;
        width: 100%;
    }
    .filterRow {
        display: grid;
        /* grid-template-columns: auto auto; */
        grid-gap: 10px;
        width: 100%;
    }
    /* .filterRow select {
        grid-column: span 2;
    } */

    #tableDiv {
        overflow-y: hidden;
        max-height:none;
    }

    #tableDiv a > div, .tableHeader {
        grid-template-columns: auto 60px 60px;
    }

    .tableHeader div {
        font-size: 0.8em;
    }
    
    .title {
        font-size: 0.9em;
        grid-column: span 3;
        padding-bottom: 10px;
    }

    .favourite {
        font-size: 0.6em;
    }

    .tag {
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.8);
        /* padding-left: 10px; */
    }
    .selected .tag, .track:hover .tag {
        color: rgba(255,255,255, 0.8);
    }
}