p {
    margin-bottom: 1em;
    font-weight: 400;
}
p:last-child{
    margin: 0;
}

.wrapper {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card, .frame {
    height: 100%;
}

.cardLink {
    display: block;
    border: none;
    max-width: 45%;
}
.cardLink:hover {
    border: none;
}
.frame {
    perspective: 800px;
    transform-style: preserve-3d;
}

.cardLink .card {
    transition: transform 0.2s, border 0.2s, box-shadow 0.3s, background 0.3s;
    transition-timing-function: ease-in-out;
    transform-origin: bottom;
    
    &:hover {
        transform: translateZ(10px) rotateX(-1.5deg);
        border-color: var(--blue_vibrant);
        box-shadow: 0 0 20px var(--blue_vibrant);
        background: var(--blue_lighter);
        color: var(--blue_darkest)
    }
}

a:focus .card {
    border-color: var(--focus_outline);
}

.card img {
    border-radius: 10px;
    margin-bottom: 1.5em;
}

@media screen and (width < 1000px) {
    .wrapper {
        padding: 0 50px;
    }
    .cardLink{
        max-width: 100%;
    }
}

@media screen and (width < 700px) {
    .frame {
        transform-style: flat;
    }
    .wrapper {
        padding: 0 20px;
    }
}