#displayedRecipe.card {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

h3 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}
h3::before, h3::after {
    content: "—";
    margin: 0.5em;
}

#table.card {
    align-self: start;
}



.veg {
    float: right;
    background: rgb(0, 63, 0, 0.75);
    color: rgb(68, 255, 68);
    font-weight: bold;
    padding: 3px 5px 2px;
    border-radius: 20px;
    position: relative;
    font-size: 0.8em;
    top: -1px;

    transition: color 0.2s, background-color 0.2s;
}

.selected .veg {
    background: rgb(68, 255, 68, 0.8);
    color: rgb(0, 63, 0);    
}

/* 
.card .nameBox, .card .instructionBox {
    grid-column: span 2;
} */

.card .instructionBox {
    padding-top: 1em;
    border-top: 2px solid rgba(0,0,0, 0.05);
}

.instructionBox > ol {
    list-style: none;
    counter-reset: instruction-counter;
}
.instructionBox > ol li {
    list-style-type: none;
    counter-increment: instruction-counter;
    position: relative;
}
.instructionBox > ol li::before {
    position: absolute;
    left: -1.3em;
    content: counter(instruction-counter) ". ";
    color: var(--blue_vibrant);
    font-weight: bold;
}

.noteBox li {
    list-style-type: decimal;
}


.tags {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    
    padding: 0.25em 0;
    border-bottom: 2px solid rgba(0,0,0, 0.05);
    border-top: 2px solid rgba(0,0,0, 0.05);
}

.noteBox {
    padding: 15px 0 0;
    margin-top: 10px;
    border-top: 2px solid rgba(0,0,0, 0.05);
    font-size: 0.9em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
}

.tags span {
    justify-self: start;
    padding: 3px 8px;
    background: var(--blue_dark);
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
}

.tags span.green {
    background: rgb(0, 63, 0);
}

.recipes {
    background-image: linear-gradient(var(--blue_deep), var(--blue_deeper));
    min-height: 92vh;
}
.recipes .wrapper {
    max-width: 1500px;
}

.aboutBox {
    display: grid;
    align-items: flex-start;
    align-content: start;
    border-bottom: 2px solid rgba(0,0,0, 0.05);
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    padding-bottom: 20px;
}
.aboutBox img + p {
    margin-left: 20px;
}

#ingredients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.bigPic {
    box-sizing: border-box;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    border: 2px solid rgba(0,0,0, 0.05);
}



@media only screen and (max-width: 1200px) {
    .cardHolder {
        grid-template-columns: 1fr;
    }
}


@media only screen and (max-width: 700px) {
    h3::before, h3::after {
        content: '';
        margin: 0;
    }
    .card {
        border-radius: 0;
        border-right: none;
        border-left: none;
    }
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    #displayedRecipe.card {
        grid-template-columns: 1fr;
    }
    .card .nameBox, .card .instructionBox {
        grid-column: span 1;
    }
    .aboutBox {
        grid-template-columns: auto;
    }
    .bigPic {
        margin-bottom: 10px;
    }
    #ingredients {
        grid-template-columns: 1fr;
    }
}