#tableDiv {
    display: grid;
    position: relative;
}

#tableDiv a > div div, .tableHeader {
    padding: 5px 10px;
    transition: background-color 0.1s, color 0.1s, padding 0.1s, border-color 0.1s;
}

#tableDiv a > div .title {
    border-left: 6px solid hsl(var(--max_blue) 100% 65% / 0);
}

.tableHeader {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    
    background: hsl(var(--max_blue) 50% 10%);
    color: hsl(var(--max_blue) 50% 95%);
    padding: 0 16px 0 0;
    box-shadow: var(--blue_deep) 0px 2px 4px;
    z-index: 5;
}

.tableHeader > div {
    padding: 10px;
}
.tableHeader > .titleHeader {
    padding-left: 16px;
}

#tableDiv a:nth-child(odd) > div {
    background: hsl(var(--max_blue) 85% 87%);
}

#tableDiv a:nth-child(even) > div {
    background: hsl(var(--max_blue) 85% 82%);
}

#tableDiv a:hover > div { 
    background: var(--blue_vibrant);
    color: white;
    cursor: pointer;
}

#tableDiv a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    border: none;
}


#tableDiv a.selected > div .title {
    padding-left: 30px;
    border-color: var(--blue_vibrant);
}

#tableDiv a.selected > div {
    background: var(--blue_dark);
    color: white;
}

#tableDiv a:focus > div div {
    /* outline: 2px solid var(--focus_outline) !important; */
    background: var(--focus_bg) !important;
    color: var(--focus_text) !important;
    border-color: crimson !important;
    z-index: 1 !important;
}

#tableDiv a.selected:hover > div {
    background: var(--blue_darker);
}

@media only screen and (max-width: 1100px) { 
    #table .tableHeader {
        padding: 0;
    }
    /* #table .tableHeader .headerOffset:nth-child(2) {
        margin-left: 0px;
    } */

    #tableDiv a>div .album {
        border-left: 6px solid hsl(var(--max_blue) 100% 65% / 0);
    }

    #tableDiv a.selected > div .album {
        padding-left: 30px;
        border-color: var(--blue_vibrant);
    }
}